* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    gap: 20px;
}

.resultado {
    background-color: #ccc;
    min-width: 500px;
    border-radius: 8px;
    padding: 40px;
}

main {
    background-color: cadetblue;
    padding: 40px;
    border-radius: 8px;
}

h1  {
    margin-bottom: 20px;
    text-align: center;
}

hr {
    margin-bottom: 20px;
}

.div-group {
    display: grid;
    gap: 0px 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.cols-1 {
    grid-template-columns: 1fr 100px;
}

.cols-2 {
    grid-template-columns: 1fr 1fr;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 1rem;
    border: none;
}

input[type="date"] {
    width: 150px;
}

label {
    margin-bottom: 6px;
}

button {
    align-self: start;
    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #777777;
}

select {
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 1rem;
    border: none;
}